#txtData{
width: 100%;
height:210px;
}

.btnAnalyze{
   padding: 40px 0 0 12%; 
}
#btnAnalyze{
    width: 100%;
    height: 50px;
    font-size: 20px;
}

/*word cound li*/
.divWordCount,.divCharCount{
	max-height:250px;
	overflow-y:auto;
}

.divWordCount .ui.label{
	    margin: 5px;
}

.divCharCount .ui.blue.label, .divCharCount .ui.blue.labels .label{
    background-color: #21d087!important;
    font-size: 14px;
}

#divCharFreqGraph svg{
	height: 250px;
}

#divFrequencySort{
    position: relative;
    top: -8px;
}
